@keyframes ldio-yzaezf3dcmj {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-yzaezf3dcmj div {
  box-sizing: border-box !important;
}
.ldio-yzaezf3dcmj > div {
  position: absolute;
  width: 148px;
  height: 148px;
  top: 26px;
  left: 26px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #d100ff transparent #d100ff transparent;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}

.ldio-yzaezf3dcmj > div:nth-child(2),
.ldio-yzaezf3dcmj > div:nth-child(4) {
  width: 128px;
  height: 128px;
  top: 36px;
  left: 36px;
  animation: ldio-yzaezf3dcmj 1s linear infinite reverse;
}
.ldio-yzaezf3dcmj > div:nth-child(2) {
  border-color: transparent #000bff transparent #000bff;
}
.ldio-yzaezf3dcmj > div:nth-child(3) {
  border-color: transparent;
}
.ldio-yzaezf3dcmj > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-yzaezf3dcmj > div:nth-child(3) div:before,
.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 62px;
  background: #d100ff;
  border-radius: 50%;
  box-shadow: 0 140px 0 0 #d100ff;
}
.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  left: -8px;
  top: 62px;
  box-shadow: 140px 0 0 0 #d100ff;
}

.ldio-yzaezf3dcmj > div:nth-child(4) {
  border-color: transparent;
}
.ldio-yzaezf3dcmj > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-yzaezf3dcmj > div:nth-child(4) div:before,
.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 52px;
  background: #000bff;
  border-radius: 50%;
  box-shadow: 0 120px 0 0 #000bff;
}
.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  left: -8px;
  top: 52px;
  box-shadow: 120px 0 0 0 #000bff;
}
.loadingio-spinner-double-ring-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}
